
.icon-truck:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-minus-1:before { content: '\e802'; } /* '' */
.icon-traffic-cone:before { content: '\e803'; } /* '' */
.icon-wrench-outline:before { content: '\e804'; } /* '' */
.icon-warning:before { content: '\e805'; } /* '' */
.icon-warning-empty:before { content: '\e806'; } /* '' */
.icon-attention:before { content: '\e807'; } /* '' */
.icon-fuel:before { content: '\e819'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
